/* ============================================
   LAYOUT STYLES
   ============================================ */

.app-layout {
  min-height: 100vh;
  background-color: white;
  color: black;
  width: 100%;
}

.app-main {
  width: 100%;
}
